@import url(index.css);

.forth-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px 3%;
}
.card-container-box{
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  justify-content: space-between;
  align-items: center;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  padding:0.5%;
    background: var(--secondary-color-four);
  max-width: 17%;
  margin-top: 3%;
  border-radius: var(--border-radius-small);
  max-height: 300px;
  overflow-y: scroll;

}
.second-container-second-item{
  font-size: smaller;
  color: var(--secondary-color-five);
  display: flex;
}

.second-container-second-item img{
  width:5.1%
}

.forth-container h4{
  font-weight: normal;
}
.card-container div >img{
  height:50%;
}
.card-container-box button{
  margin-top: 1%;
  margin-left:94.5%;
  align-self: last baseline;
  background: var(--secondary-color-two);
}

