@import url(./header.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: initial;
  text-decoration: none;
}
img {
  width: 100%;
}
:root {
  font-family: "Poppins", sans-serif;
  --primary-color: black; /* Black */
  --secondary-color-one: #f5f7f9;
  --secondary-color-two: #ebd96b; /* Yellow */
  --secondary-color-three: #eeeeee;
  --secondary-color-four: white;
  --secondary-color-six:#ebebeb;
   /* Dark gray */
  --secondary-color-five:gray; /* Secondary text color:gray */
  --border-radius-big: 3.6875rem;
  --border-radius-small: 0.625rem;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
body{
  background: var(--secondary-color-one);
}

.top-right-item:hover,
a:hover,
button:hover, .card-container:hover {
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  transform: scale(1.1);
}
/* a:active{
    font-size: larger;
    background-color: var(--secondary-color-two);
    border-radius: var(--border-radius-small);
} */

input {
  border: none;
  background: none;
}

input:focus {
  outline: none;
}

h2{
  margin: 3% auto 2%;
  text-align: center;
  width: fit-content;
}

hr{
  border:1px solid  #ebd96b;
}

button {
  border-radius: var(--border-radius-small);
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  font-size: 1.07rem;
}

button:hover, .card-container:hover {
  box-shadow: var(--box-shadow);
}
.card-container:hover{
  font-weight: normal;
}

/* Customized Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-color-four); 
  border-radius: var(--border-radius-small)
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  
  border-radius: var(--border-radius-small)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#comingSoon{
  width: 100vw;
  height: 100vh;
  display: flex;
  font-size: 30pt;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#comingSoon button{
  background: var(--secondary-color-two);
}
