@import url(./header.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: initial;
  text-decoration: none;
}
img {
  width: 100%;
}
:root {
  font-family: "Poppins", sans-serif;
  --primary-color: black; /* Black */
  --secondary-color-one: #f5f7f9; /* Gray */
  --secondary-color-two: #ebd96b; /* Yellow */
  --secondary-color-three: white;
  --secondary-color-four: #eeeeee; /* Dark gray */
  --border-radius-big: 3.6875rem;
  --border-radius-small: 0.625rem;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.top-right-item:hover,
a:hover,
button:hover {
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
}
/* a:active{
    font-size: larger;
    background-color: var(--secondary-color-two);
    border-radius: var(--border-radius-small);
} */

input {
  border: none;
  background: none;
}

input:focus {
  outline: none;
}
h2{
  margin: 3% auto 2%;
  text-align: center;
  width: fit-content;
}
hr{
  border:1px solid  #ebd96b;
}

button {
  border-radius: var(--border-radius-small);
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  font-size: 1.07rem;
}

button:hover {
  box-shadow: var(--box-shadow);
}
